@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(../font/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../font/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

.header {
  font-size: 1.8em;
}

.nav {
  padding: 32px 0;
  border-bottom: 1px solid #828282;
  font-family: "Gilroy-Bold", sans-serif;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  color: #828282;
}

.nav__link:hover {
  color: #070707;
}

.header__text {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__text h1 {
  width: 123.513px;
}

.header__text p {
  width: 155.646px;
}

.header__text span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

.header__hero {
  margin-top: 50px;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  background: #fff;
}

.container {
  max-width: 973px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: 4.8em;
}

h2 {
  font-size: 3.4em;
}

/* Start==================================Важная настройка==================================Start */
