@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(../font/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../font/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

.header {
  font-size: 1.8em;
}

.menu__body {
  padding: 32px 0;
  border-bottom: 1px solid #828282;
  font-family: "Gilroy-Bold", sans-serif;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  color: #828282;
}

.menu__link:hover {
  color: #070707;
}

.header__text {
  margin-top: 40px;
}

.header__text .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__text h1 {
  width: 123.513px;
}

.header__text p {
  width: 155.646px;
}

.header__text span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

.header__hero {
  margin-top: 50px;
  margin-bottom: 104px;
}

.header__hero img {
  -webkit-animation: 1s slide;
          animation: 1s slide;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    margin-left: -300px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: -300px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #070707;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 768px) {
  .menu__body {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.menu__body.active {
  right: 0;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    gap: 68px;
    overflow: auto;
  }
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menu__link {
    display: block;
    font-size: 30px;
    line-height: 70px;
  }
}

.about {
  background-color: #F6F6F6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 107px 0;
}

.about h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 3.4em;
  margin-bottom: 30px;
}

.about p {
  font-size: 1.8em;
}

.about p:not(:last-child) {
  margin-bottom: 50px;
}

.about .about__inner--text {
  width: 485.344px;
}

.skills {
  padding-top: 91px;
  padding-bottom: 110px;
}

.skills__text {
  text-align: center;
}

.skills__text h2 {
  font-weight: 700;
  margin-bottom: 70px;
}

.skills__text p {
  font-size: 1.8em;
  margin-bottom: 85px;
}

.skills__card--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__card--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__card--item img {
  margin-bottom: 23px;
}

.skills__card--item p {
  font-size: 1.4em;
  margin-bottom: 41px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #828282;
}

.rating__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rating__item {
  cursor: pointer;
  font-size: 3.4em;
  -webkit-transition: .2s;
  transition: .2s;
  color: #E5E5E5;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
  color: gold;
}

.rating__list[data-total-value="1"] .rating__item:nth-child(n+5),
.rating__list[data-total-value="2"] .rating__item:nth-child(n+4),
.rating__list[data-total-value="3"] .rating__item:nth-child(n+3),
.rating__list[data-total-value="4"] .rating__item:nth-child(n+2),
.rating__list[data-total-value="5"] .rating__item:nth-child(n+1) {
  color: orange;
}

.portfolio {
  padding-top: 112px;
  padding-bottom: 96px;
  background-color: #F6F6F6;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 47px;
}

.portfolio__item {
  text-align: center;
}

.portfolio__item img {
  margin-bottom: 45px;
}

.portfolio__item img:hover {
  -webkit-transform: scale(1.1) translate(0px, -3px);
  transform: scale(1.1) translate(0px, -3px);
  -webkit-transition: .4s;
  transition: .4s;
}

.portfolio__item a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.8em;
  color: #070707;
}

.portfolio__item a:hover {
  font-family: "Gilroy-Bold", sans-serif;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 99px;
}

.footer {
  padding-top: 114px;
  padding-bottom: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact {
  text-align: center;
}

.footer__contact h2 {
  margin-bottom: 20px;
}

.footer__contact p {
  font-size: 1.8em;
  width: 275.142px;
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  background-color: #070707;
  color: #FFFFFF;
  padding: 13px 29px 12px 28px;
  border-radius: 20px;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .2s;
  transition: .2s;
}

.social {
  margin-top: 86px;
  margin-bottom: 46px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.social__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__text {
  color: #828282;
  text-align: center;
  font-size: 1.4em;
}

@media (max-width: 992px) {
  .header__text h1 {
    font-size: 4em;
  }
}

@media (max-width: 768px) {
  .header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__text h1 {
    font-size: 3.2em;
  }
  .header__text .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .portfolio {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .header .menu__body {
    display: block;
    border-bottom: none;
    padding: 0;
  }
  .lang {
    display: none;
  }
  .skills__card--item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .skills__card--list {
    row-gap: 30px;
  }
  .skills {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .skills__text h2 {
    margin-bottom: 40px;
  }
  .skills__text p {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .header__text h1 {
    font-size: 2.4em;
  }
  .about .about__inner--text {
    width: auto;
  }
  .about {
    padding: 30px 0;
  }
  .skills__card--item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .social {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .social__list {
    gap: 30px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

html,
body {
  font-size: 10px;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  background: #fff;
}

.container {
  max-width: 973px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: 4.8em;
}

h2 {
  font-size: 3.4em;
}

.hidden {
  display: none;
}

/* Start==================================Важная настройка==================================Start */
body.lock {
  overflow: hidden;
}
