$white: #FFFFFF;
$black: #070707;
// $light-black: #222222;
$gray: #828282;
// $light-gray: #8B8B8B;
// $lapis: #1434E1;

$ff-Gilroy-Medium: 'Gilroy-Medium', sans-serif;
$ff-Gilroy-Bold: 'Gilroy-Bold', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;