$white: #FFFFFF;
$black: #151515;
$light-black: #222222;
$gray: #626262;
$light-gray: #8B8B8B;
$lapis: #1434E1;

$ff-roboto: 'Fira Sans', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;