@import "./index"; // получаем все файлы

html,
body {
	font-size: 10px;
}
body {
	font-family: $ff-Gilroy-Medium;
	background: #fff;
}
.container {
	max-width: 973px; //943 + 30padding = 973px;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
h1 {
	font-size: 4.8em;
} //48px
h2 {
	font-size: 3.4em;
} //34px

/* Start==================================Важная настройка==================================Start */

