.header {
  font-size: 1.8em;
}
.nav {
  padding: 32px 0;
  border-bottom: 1px solid #828282;
  font-family: $ff-Gilroy-Bold;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
}
.nav__link {
  color: $gray;
  &:hover{
    color: $black;
  }
}
.header__text {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1{
    width: 123.513px;
  }
  p{width: 155.646px;}
  span{
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
.header__hero {
  margin-top: 50px;
  margin-bottom: 104px;
  img{
    animation: 1s slide;
  }
}

@keyframes slide {

  0% {
    opacity: 0;
    margin-left: -300px;
  }
  
  100% {
    opacity: 1;
    margin-left: 0;
  }

}